@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* ligh theme*/
  --light-main-background: #E6F7F7;
  --light-alt-main-background: #C3D9D9;
  --light-stack-bg-color: #BECCCC;
  --light-medium-main-color: #006666;
  --light-dark-main-color: #004040;
  --light-black: #1D2626;
  --light-black-90: #4F5A5A;
  --light-black-80: #4F5A5A;
  --light-pale-ct: #639999;
  --light-darker-ct: #639999;
  --light-box-image: #639999;
  /* dark theme*/
  /* */
}

  /* element styles */
html {
  background-color: var(--light-main-background);
  color: var(--light-black-80);
}
header {
  margin-block: 1.5rem;
  position: relative;
}
body {
  text-align: center;
}
main section:first-child {
  margin-top: 2rem;
}
footer {
  background-color: var(--light-dark-main-color);
  color: white;
  font-size: 1.1rem;
  padding-block: 5rem;
}
footer > ul:not(:last-child) {
  margin-bottom: 2rem;
}
footer > ul li:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}
footer > ul > li:not(:first-child) {
  opacity: 80%;
}
footer ul li {
  margin-bottom: 1.5rem;
}
svg {
  display: block;
  width: 100%;
 }
h1 {
  color: var(--light-black);
  margin-top: 0.8rem;
   font-size: 2.5rem;
   font-weight: 400;
}
h2 {
  color: var(--light-black);
}
b:not(.full-name){
   color: var(--light-medium-main-color);
}
.project-box ul li, .project-box ul {
   width: 95%;
}
/* helper classes */
.gird {
  display: grid;
  grid-template-columns: 1fr;
}
.flex-col {
  flex-direction: column;
}
.padding-10vw {
  padding-inline: 10vw;
}
.padding-5vw {
  padding-inline: 5vw;
}

.rounded {
  border-radius: 0.3rem;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.hidden {
  display: none;
}
.showMenu {
  display: flex;
  background-color: var(--light-alt-main-background);
  border: 1px solid var(--light-medium-main-color);
  position: absolute;
  z-index: 10;
  right: 10vw;
  top: 3.5rem;
  width: 220px;
  padding-block: 2.5rem;
  text-align: center;

}
.center-vertically {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.rounded-xl {
  border-radius: 0.6rem;
}
/* custom classes */
/* header */
.logo {
  font-weight: 500;
  color: var(--light-black);
}
.mobile-menu {
  width: 2rem;
}
.nav-link-list li a {
  color: var(--light-dark-80);
  font-size: 1.1rem;
}
.nav-link-list li:not(:last-child) {
  margin-bottom: 2rem;
}
/* hero section */
.hero-description > p {
  margin-top: 0.5rem;
  color: var(--light-black-80);
  max-width: 45ch;
}
.hero-description a {
  font-size: 1.1rem;
}
.full-name {
  color: var(--light-black-90);
  font-weight: 500;
}
.main-cta-btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--light-medium-main-color);
  color: white;
  font-weight: 500;
}
.hero-cta {
  margin-top: 1rem;
 }
 .hero-image-ct {
  position: relative;
 }
 .hero-cta > a:not(:last-child) {
  margin-right: 0.8rem
 }
 .cta-decorator-ct {
  position: relative;
  width:min-content;
 }
 .cta-decorator {
  position: absolute;
  right:0;
  bottom: -60%;
 }
 .stack-ct {
  background-color: var(--light-stack-bg-color);
  padding: 0.7rem 1rem;
 }
 .stack-ct li img {
  margin:0;
  width: 100%;
  height: 100%;
 }
 .stack-ct li {
   width: 40px;
   height: 35px;
 }
 .stack-ct li:not(:last-child){
   margin-right: 0.8rem;
 }
 .hero-description > ul {
   margin-top: 2rem;
 }
 /* projects */
 .projects-ct {
   margin-top: 3rem;
   padding-block: 3rem;
   background-color: var(--light-alt-main-background);
 }
 .main-header {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-alt-main-background);
 }
 .header-ct {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-main-background);
   margin-bottom: 1rem;
   width: fit-content;
 }
 .projects-ct .header-ct {
   margin-inline: auto;
 }
 .project-box {
   margin-inline: auto;
   width: 100%;
   max-width: 360px;
   padding: 1rem;
   background-color: var(--light-main-background);
 }
 .box-description > h4 {
   margin-bottom: 0.5rem;
   color: var(--light-black-90);
   font-size: 1.5rem;
 }
 .box-image-ct {
  background-color: var(--light-box-image);
  overflow: hidden;
 }
 .box-image-phone {
   transform: translateY(15%);
    margin-right: 0;
 }
 .box-description {
   margin-top: 1rem;
   padding-inline: 1.5vw;
 }
 .box-description > ul {
   margin-top: 1rem;
   width: 100%;
 }
 .box-description > ul li {
   width: 45px;
   height: 35px;
 }
 .box-btn {
   margin-top: 1rem;
   margin-bottom: 0.5rem;
 }
 .box-btn > a {
  font-size: 1.2rem;
  padding: 1rem 10vw;
 }
 .main-cta-btn + a {
   margin-left: 1rem;
   outline: 2px solid var(--light-dark-main-color);
   border-radius: 0.3rem;
   padding: 0.9rem 8vw 
 }
/* about section */
 .about-ct {
   background-image: url(./assets/images/bg-svg-about.svg), url(./assets/images/bg-svg-about.svg);
   background-size: 35vw;
   background-position: 101% -2%, -20% 45%;
   background-repeat: no-repeat;
 }
.about-box-description > .header-ct {
  background-color: var(--light-alt-main-background);
  margin-top: 2.5rem;
}
.about-ct > img:first-of-type {
  margin-top: 5rem;
  border: 2px solid var(--light-medium-main-color);
  border-radius: 3rem;
}
.about-ct .header-ct {
  padding-inline: 3.5rem;
}
.about-ct p {
  font-size: 1.2rem;
}
.about-box-description > div:last-child {
  margin-top: 0.5rem;
  background-color: var(--light-alt-main-background);
  max-width: 380px;
}
.about-box-description div:last-child {
  /*padding: 5vw 2rem;*/
  padding: 1rem;
  margin-bottom: 5rem;
}
.about-ct ul {
  margin-top: 2rem;
}
.about-box-description ul li {
  background-color: var(--light-black);
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.about-box-description ul li:not(:last-child) {
  margin-right: 5vw;
}
.about-box-description  li img, .about-box-description ul li a {
  width: 100%;
}
.cta-ct {
  background-color: var(--light-medium-main-color);
  background-image: url(./assets/images/cta-bg.svg), url(./assets/images/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: 15% -30%, 90% 130%;
  padding: 10rem 1rem;
  color: white;
}
.cta-ct > h2 {
  font-size:2rem ;
  color: white;
  max-width: 17ch;
}
.cta-ct > a {
  margin-top: 1.8rem;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: var(--light-black);
  padding: 1rem 2.5rem;
}
.footer-social  div li:not(:last-child){
  margin-right: 2rem;
}
.footer-social div > li > a {
  opacity: 100%;
}
  
@media only screen and (min-width: 400px) {
  .box-btn {
    justify-items: center;
  }
  .box-btn > a {
    font-size: 1.2rem;
    padding: 1rem 2.8rem;
  }
  .main-cta-btn + a {
    padding: 0.9rem 2rem
  }
  .cta-ct {
    padding: 8rem 1rem;
    background-position: 5% -35%, 120% 95%;
  }
  .cta-ct > a {
    margin-top: 1.5rem;
  }
  .box-image-phone {
    margin-right: 0.5rem;
  }
  .project-box {
    padding: 0.8rem;
  }
  .box-description p {
    max-width: 90%;
  }
  .box-description > ul {
    width: 95%;
  }
  .cta-ct > h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 725px) {
  .project-box {
    display: flex;
    max-width: 700px;
    text-align: start;
    padding: 1rem;
  }
  .projects-ct .box-description {
    align-items: start;
  }
  .box-image-ct {
    height: 263.58px;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-right: 0.5rem;
  }
  .box-image-ct > .box-image-pc {
    width: 90%;
    transform: translateY(80%);
  }
  .box-image-ct > .box-image-phone {
    order: 2;
    margin: 0;
    width: 120px;
    transform: translate(50%, 5%);
  }
  .box-description {
    margin: 0;
    width: 55%;
    justify-content: center;
  }
  .box-description > p {
    font-size: 1.1rem;
  }
  .box-description > h4 {
    font-size: 1.7rem;
  }
  .box-description > .stack-ct {
    order: 4;
    width: 100%;
  }
  .box-description .stack-ct img {
    width: 100%;
  }
  .box-btn {
    margin-top: 0.9rem;
  }
  .box-description > .box-btn > a:first-child {
    padding: 0.9rem 2.5rem;
  }
  .box-description > .box-btn > a:last-child {
    padding: 0.8rem 2.5rem;
    margin-left: 0.8rem;
  }
  .about-ct {
    flex-direction: row;
  }
  .about-box-description {
    padding-block: 8rem;
  }
  .about-box-description .header-ct {
    margin: 0;
    margin-bottom: 1.3rem;
  }
  .about-box-description ul li:not(:last-child) {
    margin-right: 1rem;
  }
  .about-box-description ul {
    position: relative;
    right: -15%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .about-ct {
    background-size: 15vw, 20vw;
    background-position: 10% -12%, 50% 117%;
  }
  .about-ct > img:first-of-type {
    margin-top: 0rem;
    margin-right: 2rem;
  }
  .about-ct p {
    font-size: 1rem;
    text-align: left;
  }
  .about-ct > div:last-child {
    margin: 0;
  }
  .cta-ct h2 {
    max-width: none;
  }
  .cta-ct {
    background-size: 10rem, 13rem;
    background-position: 100% -45%, 10% 200%;
  }
  .cta-ct a {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
  .hidden {
    display: flex; 
  }
  .hidden ul {
    display: flex;
    flex-direction: row;
  }
  header > a {
    margin-right: 2.5rem;
  }
  .hidden > ul > li:not(:last-child) {
    margin: 0;
    margin-right: 2.5rem;
  }
.nav-link-list li a {
  font-size: 1rem;
}
  .justify-between {
    justify-content: flex-start;
  }
  main {
    text-align: left;
  }
  /* hero section */ 
  main section:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero-description {
    align-items: flex-start;
  }
  .hero-description h1 {
    font-size: 3rem;
  }
  .hero-description p {
    max-width: 30ch;
  }
  .hero-description .stack-ct {
    margin-top: 1.5rem;
  }
} 
