@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* ligh theme*/
  --light-main-background: #E6F7F7;
  --light-alt-main-background: #C3D9D9;
  --light-stack-bg-color: #BECCCC;
  --light-medium-main-color: #006666;
  --light-dark-main-color: #004040;
  --light-black: #1D2626;
  --light-black-90: #4F5A5A;
  --light-black-80: #4F5A5A;
  --light-pale-ct: #639999;
  --light-darker-ct: #639999;
  --light-box-image: #639999;
  /* dark theme*/
  /* */
}

  /* element styles */
html {
  background-color: var(--light-main-background);
  color: var(--light-black-80);
}
header {
  margin-block: 1.5rem;
  position: relative;
}
body {
  text-align: center;
}
main section:first-child {
  margin-top: 2rem;
}
footer {
  background-color: var(--light-dark-main-color);
  color: white;
  font-size: 1.1rem;
  padding-block: 5rem;
}
footer > ul:not(:last-child) {
  margin-bottom: 2rem;
}
footer > ul li:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}
footer > ul > li:not(:first-child) {
  opacity: 80%;
}
footer ul li {
  margin-bottom: 1.5rem;
}
svg {
  display: block;
  width: 100%;
 }
h1 {
  color: var(--light-black);
  margin-top: 0.8rem;
   font-size: 2.5rem;
   font-weight: 400;
}
h2 {
  color: var(--light-black);
}
b:not(.full-name){
   color: var(--light-medium-main-color);
}
.project-box ul li, .project-box ul {
   width: 95%;
}
/* helper classes */
.flex-col {
  flex-direction: column;
}
.padding-10vw {
  padding-inline: 10vw;
}
.padding-5vw {
  padding-inline: 5vw;
}

.rounded {
  border-radius: 0.3rem;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.hidden {
  display: none;
}
.showMenu {
  display: flex;
  background-color: var(--light-alt-main-background);
  border: 1px solid var(--light-medium-main-color);
  position: absolute;
  z-index: 10;
  right: 10vw;
  top: 3.5rem;
  width: 220px;
  padding-block: 2.5rem;
  text-align: center;

}
.center-vertically {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.rounded-xl {
  border-radius: 0.6rem;
}
/* custom classes */
/* header */
.logo {
  font-weight: 500;
}
.mobile-menu {
  width: 2rem;
}
.nav-link-list li a {
  color: var(--light-dark-80);
  font-size: 1.1rem;
}
.nav-link-list li:not(:last-child) {
  margin-bottom: 2rem;
}
/* hero section */
.hero-description > p {
  margin-top: 0.5rem;
  color: var(--light-black-80);
  max-width: 45ch;
}
.hero-description a {
  font-size: 1.1rem;
}
.full-name {
  color: var(--light-black-90);
  font-weight: 500;
}
.main-cta-btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--light-medium-main-color);
  color: white;
  font-weight: 500;
}
.hero-cta {
  margin-top: 1rem;
 }
 .hero-image-ct {
  position: relative;
 }
 .hero-cta > a:not(:last-child) {
  margin-right: 0.8rem
 }
 .cta-decorator-ct {
  position: relative;
  width:min-content;
 }
 .cta-decorator {
  position: absolute;
  right:0;
  bottom: -60%;
 }
 .stack-ct {
  background-color: var(--light-stack-bg-color);
  padding: 0.7rem 1rem;
 }
 .stack-ct li img {
  margin:0;
  width: 100%;
  height: 100%;
 }
 .stack-ct li {
   width: 40px;
   height: 35px;
 }
 .stack-ct li:not(:last-child){
   margin-right: 0.8rem;
 }
 .hero-description > ul {
   margin-top: 2rem;
 }
 /* projects */
 .projects-ct {
   margin-top: 3rem;
   padding-block: 3rem;
   background-color: var(--light-alt-main-background);
 }
 .main-header {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-alt-main-background);
 }
 .header-ct {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-main-background);
   margin-bottom: 1rem;
   width: fit-content;
 }
 .project-box {
   width: 100%;
   max-width: 360px;
   padding: 1rem;
   background-color: var(--light-main-background);
 }
 .box-description > h4 {
   margin-bottom: 0.5rem;
   color: var(--light-black-90);
   font-size: 1.5rem;
 }
 .box-image-ct {
  background-color: var(--light-box-image);
  overflow: hidden;
 }
 .box-image-phone {
   transform: translateY(15%);
    margin-right: 0;
 }
 .box-description {
   margin-top: 1rem;
   padding-inline: 1.5vw;
 }
 .box-description > ul {
   margin-top: 1rem;
   width: 100%;
 }
 .box-description > ul li {
   width: 45px;
   height: 35px;
 }
 .box-btn {
   margin-top: 1.2rem;
 }
 .box-btn > a {
  font-size: 1.2rem;
  padding: 1rem 10vw;
 }
 .main-cta-btn + a {
   margin-left: 1rem;
   outline: 2px solid var(--light-dark-main-color);
   border-radius: 0.3rem;
   padding: 0.9rem 8vw 
 }
 .about-ct {
   background-image: url(./assets/images/bg-svg-about.png), url(./assets/images/bg-svg-about.png);
   background-size: 35vw;
   background-position: 101% -2%, -20% 45%;
   background-repeat: no-repeat;
 }
.about-ct > div:first-of-type {
  background-color: var(--light-alt-main-background);
  margin-top: 2.5rem;
}
.about-ct > img:first-of-type {
  margin-top: 5rem;
  border: 2px solid var(--light-medium-main-color);
  border-radius: 3rem;
}
.about-ct .header-ct {
  padding-inline: 3.5rem;
}
.about-ct p {
  font-size: 1.2rem;
}
.about-ct > div:last-child {
  padding: 5vw 2rem;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  background-color: var(--light-alt-main-background);
  max-width: 380px;
}
.about-ct ul {
  margin-top: 2rem;
}
.about-ct ul li {
  background-color: var(--light-black);
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.about-ct ul li:not(:last-child) {
  margin-right: 5vw;
}
.about-ct ul li img, .about-ct ul li a {
  width: 100%;
}
.cta-ct {
  background-color: var(--light-medium-main-color);
  background-image: url(./assets/images/cta-bg.svg), url(./assets/images/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: 15% -25%, 90% 130%;
  padding: 10rem 1rem;
  color: white;
}
.cta-ct > h2 {
  font-size:2rem ;
  color: white;
  max-width: 17ch;
}
.cta-ct > a {
  margin-top: 1.8rem;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: var(--light-black);
  padding: 1rem 2.5rem;
}
.footer-social  div li:not(:last-child){
  margin-right: 2rem;
}
.footer-social div > li > a {
  opacity: 100%;
}
  
 @media only screen and (min-width: 380px) {
  
 .box-btn > a {
  font-size: 1.2rem;
  padding: 1rem 3rem;
 }
 .main-cta-btn + a {
   padding: 0.9rem 2.5rem
 }
.cta-ct {
  padding: 8rem 1rem;
}
.cta-ct > a {
  margin-top: 1.5rem;
}
 .box-image-phone {
    margin-right: 0.5rem;
 }
 .project-box {
   padding: 3vw;
 }
 .box-description > ul {
  width: 95%;
 }
.cta-ct > h2 {
  font-size: 2.5rem;
}
 }
 @media only screen and (min-width: 700px) {
   .project-box {
     display: flex;
     max-width: 665px;
   }
 .box-description {
   max-width: 40%;
   padding: 1rem;
 }
 .box-image-ct {
   max-width: 60%;
 }
 }
