@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* ligh theme*/
  --light-main-background: #E6F7F7;
  --light-alt-main-background: #C3D9D9;
  --light-stack-bg-color: #BECCCC;
  --light-medium-main-color: #006666;
  --light-dark-main-color: #004040;
  --light-black: #1D2626;
  --light-black-90: #4F5A5A;
  --light-black-80: #4F5A5A;
  --light-pale-ct: #639999;
  --light-darker-ct: #639999;
  --light-box-image: #639999;
  /* dark theme*/
  /* */
}

  /* element styles */
html {
  background-color: var(--light-main-background);
  color: var(--light-black-80);
}
header {
  margin-block: 1.5rem;
  position: relative;
}
body {
  text-align: center;
}
main section:first-child {
  margin-top: 2rem;
}
svg {
  display: block;
  width: 100%;
 }
h1 {
  color: var(--light-black);
  margin-top: 0.8rem;
   font-size: 2.5rem;
   font-weight: 400;
}
h2 {
  color: var(--light-black);
}
b:not(.full-name){
   color: var(--light-medium-main-color);
}
/* helper classes */
.flex-col {
  flex-direction: column;
}
.padding-10vw {
  padding-inline: 10vw;
}
.padding-5vw {
  padding-inline: 5vw;
}

.rounded {
  border-radius: 0.3rem;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.hidden {
  display: none;
}
.showMenu {
  display: flex;
  background-color: var(--light-alt-main-background);
  position: absolute;
  z-index: 10;
  right: 0;
  top: 3.5rem;
  width: 200px;
  padding-block: 2rem;
  text-align: center;

}
.center-vertically {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
/* custom classes */
/* header */
.logo {
  font-weight: 500;
}
.mobile-menu {
  width: 2rem;
}
.nav-link-list li a {
  color: var(--light-dark-80);
}
.nav-link-list li:not(:last-child) {
  margin-bottom: 1.2rem;
}
/* hero section */
.hero-description > p {
  margin-top: 0.5rem;
  color: var(--light-black-80);
}
.full-name {
  color: var(--light-black-90);
  font-weight: 500;
}
.main-cta-btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--light-medium-main-color);
  color: white;
  font-weight: 500;
}
.hero-cta {
  margin-top: 1rem;
 }
 .hero-image-ct {
  position: relative;
 }
 .hero-cta > a:not(:last-child) {
  margin-right: 0.8rem
 }
 .cta-decorator-ct {
  position: relative;
  width:min-content;
 }
 .cta-decorator {
  position: absolute;
  right:0;
  bottom: -60%;
 }
 .stack-ct {
  margin-top: 2.5rem;
  background-color: var(--light-stack-bg-color);
  padding: 0.7rem 1rem;
 }
 .stack-ct li img {
  margin:0;
  width: 100%;
  height: 100%;
 }
 .stack-ct li {
   width: 35px;
   height: 30px;
 }
 /* projects */
 .projects-ct {
   margin-top: 3rem;
   padding-block: 3rem;
   background-color: var(--light-alt-main-background);
 }
 .main-header {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-alt-main-background);
 }
 .alt-header {
   padding: 0.5rem 2.5rem;
   background-color: var(--light-main-background);
   margin-bottom: 1rem;
   width: fit-content;
 }
 .project-box {
   width: 100%;
   padding: 3vw;
   background-color: var(--light-main-background);
 }
 .box-description > h4 {
   margin-bottom: 0.5rem;
   color: var(--light-black-90);
   font-size: 1.3rem;
 }
 .box-image-ct {
  background-color: var(--light-box-image);
  overflow: hidden;
 }
 .box-image-phone {
   transform: translateY(15%);
    margin-right: 0.5rem;
 }
 .box-description {
   margin-top: 1rem;
   padding-inline: 1.5vw;
 }
 /* remove stack-ct margin to make it 
  * reusable */

  
